.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: aqua;
  font-weight: bold;
  user-select: none;
}

.input {
  width: 300px;
  border: none;
  box-shadow: 2px 1px rgb(73, 73, 73);
}

.error {
  color: rgb(199, 0, 0);
  font-weight: bold;
  font-size: small;
  text-shadow: 2px 1px rgb(80, 48, 48);
}

.selects {
  width: 300px;
  text-align: center;
}

.resetSelectsButtons {
  width: 300px;
  background-color: aqua;
  margin-top: 2px;
  border: none;
}

.resetSelectsButtons:hover {
  background-color: blueviolet;
  border: 1px solid aqua;
  margin: 0;
}

.descriptionInput {
  margin-top: 10px;
  height: 80px;
  text-justify: auto;
  resize: none;
}
