.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  color: aqua;
  font-weight: bold;
}

.input {
  width: 300px;
  border: none;
  box-shadow: 2px 1px rgb(73, 73, 73);
}

.error {
  color: rgb(199, 0, 0);
  font-weight: bold;
  font-size: small;
  text-shadow: 2px 1px rgb(80, 48, 48);
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
.selects {
  width: 300px;
  text-align: center;
}

.descriptionInput {
  margin-top: 10px;
  height: 80px;
  text-justify: auto;
  resize: none;
}
