.content {
  background-color: rgba(128, 128, 128, 0.541);
  width: 200px;
  height: 100vh;
}

.filterTitle {
  color: aqua;
  text-decoration-line: underline;
  text-shadow: 2px 1px rgb(1, 128, 128);
  margin-top: 50px;
}

.Buttons {
  background-color: aqua;
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 5px;
  margin: 2px;
}

.Buttons:hover {
  background-color: blueviolet;
  border: 1px solid aqua;
}

.selects {
  width: 150px;
}
