.content {
  background-color: rgba(128, 128, 128, 0.541);
  width: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filterTitle {
  color: aqua;
  text-decoration-line: underline;
  text-shadow: 2px 1px rgb(1, 128, 128);
  margin-top: 50px;
  user-select: none;
}

.Buttons {
  background-color: aqua;
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 5px;
  margin: 2px;
  box-shadow: 1px 2px black;
}

.Buttons:hover {
  background-color: blueviolet;
  border: 1px solid aqua;
}

.selects {
  margin: 5px;
  width: 150px;
  background-color: rgba(128, 128, 128, 0.541);
  border: none;
}

.authorContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socialLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.author {
  color: aqua;
  font-size: 15px;
  text-shadow: 1px 2px black;
  user-select: none;
}
